<script th:src="@{/integrate/portal/js/userinfo/userinfo.js}"></script>
<!--<table id="userinfolist" class="easyui-datagrid" title="用户列表"-->
<!--       style="width: 100%;height:100%;"-->
<!--       data-options="rownumbers:true,singleSelect:true,-->
<!--       url:'/integrate/portal/web/userinfo/userinfolist',-->
<!--       method:'get',toolbar:userinfo.toolbar">-->
<!--    <thead>-->
<!--    <tr style="width: 100%;height: 100%">-->
<!--        <th data-options="field:'usertel',width:1000">手机号</th>-->
<!--        <th data-options="field:'username',width:100">用户名称</th>-->
<!--        <th data-options="field:'msex',width:50,formatter:userinfo.formatter_msex">性别</th>-->
<!--        <th data-options="field:'mstatus',width:100,formatter:baseutil.formatter_status">用户状态</th>-->
<!--        <th data-options="field:'userid',width:120,hidden:true">用户编码</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--</table>-->
<div id='auuserlist1' style="width:auto;height:auto"></div>
<script>
    $(function () {
        $("#auuserlist1").datagrid({
            url: '/integrate/portal/web/userinfo/userinfolist',
            method: 'get',
            pagination: true,               //允许分页
            rownumbers: true,               //行号
            singleSelect: false,            //只选择一行
            pageSize: 15,                   //每一页数据数量
            checkOnSelect: false,
            pageList: [5, 10, 15, 20, 25],
            toolbar:userinfo.toolbar,
            columns: [[
                {
                    field: 'check',
                    checkbox: true
                }, {
                    title: "手机号",
                    align: "center",
                    width: 100,
                    field: 'usertel'
                }, {
                    title: "用户名称",
                    align: "center",
                    width: 200,
                    field: 'username'
                }, {
                    title: "性别",
                    align: "center",
                    width: 200,
                    field: 'msex',
                    formatter: userinfo.formatter_msex
                }, {
                    title: "用户状态",
                    align: "center",
                    width: 200,
                    field: 'mstatus',
                    formatter: baseutil.formatter_status
                },{
                    title: "用户编码",
                    align: "center",
                    width: 200,
                    field: 'userid',
                    formatter: baseutil.formatter_status
                }
            ]],
        });
    })
</script>