<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gsau.order.mapper.UserInfoMapper">
    <!--查询-->
    <select id="findByUserId" resultType="com.gsau.order_sersvice.projo.po.UserInfo">
        SELECT *
        FROM tb_userinfo AS b
        WHERE b.userid = #{userid}
    </select>
    <select id="findByUserTel" resultType="com.gsau.order_sersvice.projo.po.UserInfo">
        SELECT *
        FROM tb_userinfo AS b
        WHERE b.usertel = #{usertel}
    </select>
    <select id="findAll" resultType="com.gsau.order_sersvice.projo.po.UserInfo">
        SELECT *
        FROM tb_userinfo
    </select>
    <!--加入-->
    <insert id="insertUserInfo">
        INSERT INTO tb_userinfo(usertel,
                                username,
                                userpassword,
                                mstatus,
                                createtime,
                                msex,
                                tokenid)
        VALUES (#{usertel},
                #{username},
                #{userpassword},
                #{mstatus},
                #{createtime},
                #{msex},
                #{tokenid})
    </insert>
    <!--删除-->
    <delete id="delete">
        delete from tb_userinfo where userid=#{userid}
    </delete>
    <!--更新-->
</mapper>